<p><img alt="course_outline" src="fig/approximate_course_outline.png" /></p>
<hr/>
<p><img alt="image_of_shell" src="../fig/HPC_desktop.png" /></p>
<hr/>
<p><img alt="The shell kernel metaphor" src="../fig/layers_of_computing.png" /></p>
<hr/>
<p><img alt="Piled Higher and Deeper by Jorge Cham, http://www.phdcomics.com/comics/archive_print.php?comicid=1531" src="../fig/fig/phd101212s.png" /></p>
<hr/>
<p><img alt="Changes Are Saved Sequentially" src="../fig/fig/play-changes.svg" /></p>
<hr/>
<p><img alt="Different Versions Can be Saved" src="../fig/fig/versions.svg" /></p>
<hr/>
<p><img alt="Multiple Versions Can be Merged" src="../fig/fig/merge.svg" /></p>
<hr/>
<p><img alt="The file lifecycle in git" src="../fig/git_add.png" /></p>
<hr/>
<p><img alt="The file lifecycle in git" src="../fig/git_workflow.png" /></p>
<hr/>
<p><img alt="http://figshare.com/articles/How_Git_works_a_cartoon/1328266" src="../fig/fig/git_staging.svg" /></p>
<hr/>
<p><img alt="Creating a Repository on GitHub (Step 1)" src="../fig/fig/github-create-repo-01.png" /></p>
<hr/>
<p><img alt="Creating a Repository on GitHub (Step 2)" src="../fig/fig/github-create-repo-02.png" /></p>
<hr/>
<p><img alt="Creating a Repository on GitHub (Step 3)" src="../fig/fig/github-create-repo-03.png" /></p>
<hr/>
<p><img alt="Freshly-Made GitHub Repository" src="../fig/fig/git-freshly-made-github-repo.svg" /></p>
<hr/>
<p><img alt="Where to Find Repository URL on GitHub" src="../fig/fig/github-find-repo-string.png" /></p>
<hr/>
<p><img alt="Changing the Repository URL on GitHub" src="../fig/fig/github-change-repo-string.png" /></p>
<hr/>
<p><img alt="GitHub Repository After First Push" src="../fig/fig/github-repo-after-first-push.svg" /></p>
<hr/>
<p><img alt="Adding Collaborators on GitHub" src="../fig/fig/github-add-collaborators.png" /></p>
<hr/>
<p><img alt="After Creating Clone of Repository" src="../fig/fig/github-collaboration.svg" /></p>
<hr/>
<p><img alt="The Conflicting Changes" src="../fig/fig/conflict.svg" /></p>
